<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container login-container">
 
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Admin Login</h3>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" placeholder="Your Email Here" formControlName="email" />
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" placeholder="Your Password *"  formControlName="password"/>
                        </div>
                        <div class="form-group">
                           <button type="submit" class="btnSubmit">Login</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Forget Password</h3>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter Email Here" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit"  />
                        </div>
                        
                    </form>
                </div>
            </div>
      
  
<!-- Section: Design Block -->