<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
            <div class="row wth">
                <div class="col login-form-1 wth">
                    <h3>Teacher Login</h3>
                    <form  [formGroup]="teacherloginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" formControlName="email" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" formControlName="password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit"  value="Login" />
                        </div>
                        <div class="form-group">
                           
                        </div>
                    </form>
                </div>
                <div class="col-md-4 login-form-2">
                    <h3>Forget Password</h3>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                       
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Your Phone No" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="SignUp" />
                        </div>
                  
                    </form>
                </div>
                <div class="col login-form-1">
                    <h3>SignUp Teacher</h3>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email *" required  />
                        </div>
                       
                        
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Your Phone No" required  />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Forget Password" />
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>