<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="login-container wth">
            <div class="row wth">
                <div class="col login-form-1">
                    <h3>Student Login</h3>
                    <form  [formGroup]="studentloginForm" (ngSubmit)="onSubmit()">
                        <div  class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" formControlName="email" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" formControlName="password" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                      
                    </form>
                </div>
                <div class="col-md-4 login-form-2">
                    <h3>Student SignUp</h3>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email *"  />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" />
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Your Phone No"  />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="SignUp" />
                        </div>
                        
                    </form>
                </div>
                <div class="col login-form-1">
                    <h3>Forget Password</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *"  />
                        </div>
                       
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Forget Password" />
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>