 .logout{
    padding: 5px;
}

li {
    float: right;
    list-style:none ;
}
 .form-group{

  margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 70%;
    margin-bottom: 5%;
}

.form-control {
    width: 80%;
    margin-left: 18%;
    margin-right: auto;
    margin-bottom: 5%;
    border-color: blue;
}
label {
    margin-left: 40px;
    font-weight: 500;
}

.leftside{
    border: 2px solid blue;
    width: 100%;
}

.rightside{
    border: 2px solid blue; 
    width: 100%;
}

.rowside{
    width: 95%;
    margin-left: 50px;
    background-color: lightgray;
}

body {
    width: 100%;
    height: 800px;
    margin-right: 0;
    margin-left: 0;
}

.cols {
    
    width: 100%;
    padding: 10px;
    float: right;
    
} 





  

  
  .hide {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .hide:hover {
    background-color: #cfd8dc;
  }
  
  .hide:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  .btnsssss{
    margin-left: 30%;
    width: 500px;
    margin-top: 5%;
    margin-bottom: 10%;
    height: 80px;
    font-size: 2em;
    font-weight: bold;
  }

   .box {
  
   margin: 10px;

   background: rgba(31, 58, 188, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
border: 1px solid rgba(31, 58, 188, 0.36);


  
    
  } 

  .set{
    margin-left: 13%;
   
  }
  .bttn{
    margin-left: 30%;
    margin-bottom: 2%;
  }
 

  
  
  /*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */