.logout{
    padding: 5px;
}

li {
    float: right;
    list-style:none ;
}
 .form-group{

  margin-left: 30%;
    
    margin-top: 5%;
    width: 100%;
}

.form-control {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-color: blue;
}
label {
    margin-left: 40px;
    font-weight: 500;
}

.leftside{
    border: 2px solid blue;
    width: 100%;
}

.rightside{
    border: 2px solid blue; 
    width: 100%;
}

.rowside{
    width: 95%;
    margin-left: 50px;
    background-color: lightgray;
}

body {
    width: 100%;
    height: 800px;
    margin-right: 0;
    margin-left: 0;
}

.cols {
    
    width: 100%;
    padding: 10px;
    float: right;
    
} 





  

  
  .hide {
    width: 50%;
    margin-left: 1%;
  }
  
  h1 {
    margin-left: 33%;
    margin-top: 5%;
    border: 5px solid green;
    border-radius: 10px;
    margin-right: 20%;
  }
  
  
  /*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */