<app-navbar></app-navbar>
 <router-outlet></router-outlet> 
<!-- <app-ordertracking></app-ordertracking> -->
<!-- <h1>Enter Your Name </h1>/ -->
<!-- <input class="form-control" ngModel="name" type="text"  id="name" placeholder="Enter Your Name Here"> -->
<!-- <p>{{name}}</p> -->
<!-- <ng-container *ngIf="name == undefined"> -->
    <!-- <app-voiceassistance></app-voiceassistance>  -->
    <!-- <app-voice-sub></app-voice-sub>-->
    <!-- <app-voice-main></app-voice-main>  -->
<!-- </ng-container> -->
<!-- <ng-container *ngIf="name !=undefined"> -->
   
    <!-- <app-closingsheet></app-closingsheet> -->
    <!-- <app-sheetnav></app-sheetnav> -->

<!-- </ng-container> -->
  
<!-- saqib

<div>
    <form [formGroup]="addemployees" (ngSubmit)="addemp()">
        
        <input formControlName="name" type="text"  placeholder="name" ><br><br>
        <input formControlName="age" type="text" placeholder="age" ><br>
        <br><br>
        <button type="submit">Add Emp</button>
    </form>
</div>


<div> -->
 <!-- <ul *ngFor="let emp of employee">
    <li>{{emp.id}}</li>
    <li>{{emp.name}}</li>
    <li>{{emp.age}}</li>
 </ul> -->
 <!-- <table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let emp of employee">
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.age}}</td>
    </tr>
 </table>
</div> -->
<!-- enter price 
<div class="col">
    <div (input)="showSearchlist();open=true;" (click)="open=true?hideSearchlist():open=false?showSearchlist():''" autocomplete="off">

        <input type="text"  name="hidden" id="namesearch" class="form-control" [(ngModel)]="search" autocomplete="on" 
        (ngModelChange)="(search.trim())" #createsearch="ngModel" required>
       <ng-container *ngFor="let item of names1; let i = index">
        <ol *ngIf="open==true">
           <li (click)="item">
           <span>{{item}}</span></li> 
        </ol>
       </ng-container>


</div>

</div> -->
