span {
    color: red;
    font-size: 1.5em;
    
}

.textalign {
    text-align: center;
}



.col {
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;

}

.row {
    margin-left: 1%;
    margin-right: 1%;
}

li {
    list-style: none;
    float: right;
}

ul {
 padding: 0;
 margin: 0;
}
nav {
   
    margin: 5px;

}

