<nav>
    <ul>
        
    <li class="logout"><a class="btn btn-danger btn-lg btn-block" role="button" (click)="logout()">Logout</a></li>
          
      
    </ul>
</nav>
<h1  class="textalign"><span>S</span>chool <span>M</span>anagement <span>S</span>ystem</h1><br>
<div class="row">
   <div class="col">
        <h1 class="textalign"><span>T</span>eacher<span>P</span>ortal</h1>
        <div class="row">
            <div class="col btn btn-outline-success" routerLink="/teacher/addteacher">Add Teacher</div>
            <div class="col btn btn-outline-success" routerLink="/teacher/displayteacher">Students Detials</div>
        </div>

    </div>
