span {
    color: red;
    font-size: 1.5em;
    
}

.textalign {
    text-align: center;
}



.col {
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;

}

.row {
    margin-left: 1%;
    margin-right: 1%;
}

.colst {
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}

li {
    float: right;
    list-style:none ;
   
}


input{
    width: 50%;
    margin-left: 0;
    margin-top: 2%;
}
