<nav>
    <div>
        <h1 routerLink="/home" style="cursor: pointer;"><span>S</span>ervices <span>S</span>chool <span>S</span>ystem</h1>
      
        <ul class="topnav">
            <li><a class="active" style="cursor: pointer;"routerLink="/home" >Home</a></li>
            <li><a routerLink="/contact" style="cursor: pointer;">Contact</a></li>
            <li ><a routerLink="/about" style="cursor: pointer;">About</a></li>
           
          </ul>
          
    </div>
</nav>





    


    