li {
    float: right;
    list-style:none ;
}
input{
    width: 30%;
    margin-left: 5px;
    margin-top: 1%;
    
    margin-right: 0;
}

.saq{
   
    
   padding: 30px;
}

.row {
    padding: 30px;
}